@page "/coordinador/planes"
@using Fonbec.Cartas.DataAccess.Constants
@using Fonbec.Cartas.DataAccess.Entities.Enums
@using Fonbec.Cartas.Ui.Constants
@inherits PerFilialComponentBase
@attribute [Authorize(Roles = FonbecRoles.Coordinador)]

<PageHeader Title="Planificación" />

<MudStack Row="true" Spacing="10">
    <MudTooltip Text="Cartas"
                Arrow="true" Placement="Placement.Right"
                Color="Color.Primary">
        <MudFab Href="@NavRoutes.CoordinadorPlanificaciónNew"
                StartIcon="@Icons.Material.Filled.Email"
                Color="Color.Primary" />
    </MudTooltip>

    <MudTooltip Text="Corte recepción de notas"
                Arrow="true" Placement="Placement.Right"
                Color="Color.Secondary">
        <MudFab OnClick="OpenNewCorteRecepciónNotasDialog"
                Disabled="!_viewModels.Any()"
                StartIcon="@Icons.Material.Filled.ContentCut"
                Color="Color.Secondary" />
    </MudTooltip>
</MudStack>

<ActivityIndicator Loading="_loading"
                   If="!_viewModels.Any()"
                   ThenDisplay="No hay nada para mostrar acá todavía." />

@if (_viewModels.Any())
{
    <MudSimpleTable Hover="true" Dense="true"
                    Class="mt-4">
        <thead>
        <tr>
            <th>Evento</th>
            <th>Ya enviado</th>
            <th>Total a enviar</th>
            <th>Progreso</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var context in _viewModels)
            {
            <tr>
                <td>
                    <AuditableItemDisplay Id="@context.Id" Name="@context.EventName" AuditableViewModel="@context"
                                          Color="@(context.Type == PlannedEventType.CartaObligatoria ? Color.Primary : Color.Secondary)" />
                    
                    @if (context.TotalToSend != 0 && context.TotalToSend == context.AlreadySent)
                    {
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" />
                            <MudText>Completado</MudText>
                        </MudStack>
                    }
                    else
                    {
                        <MudText>@context.Explanation</MudText>
                    }
                </td>
                <td>@context.AlreadySent</td>
                <td>@context.TotalToSend</td>
                <td>
                    <MudProgressLinear Color="Color.Tertiary" Size="Size.Large" Value="context.Percentage" />
                </td>
                <td>
                    @if (context.Type == PlannedEventType.CartaObligatoria)
                    {
                        <MudTooltip Text="Editar" Arrow="true" Placement="Placement.Bottom" Color="Color.Primary">
                            <MudIconButton Href="@(string.Format(NavRoutes.CoordinadorPlanificaciónCartaEdit0, context.Id))"
                                           Disabled="@(@context.Date <= DateTime.Today)"
                                           Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Color="Color.Primary"/>
                        </MudTooltip>
                        <MudTooltip Text="Ver" Arrow="true" Placement="Placement.Bottom" Color="Color.Primary">
                            <MudIconButton Href="@(string.Format(NavRoutes.CoordinadorPlanificaciónCartaPreview0, context.Id))"
                                           Icon="@Icons.Material.Filled.RemoveRedEye" Size="Size.Small" Color="Color.Primary"/>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Editar" Arrow="true" Placement="Placement.Bottom" Color="Color.Primary">
                            <MudIconButton OnClick="@(async () =>  await OpenEditCorteRecepciónNotasDialog(context.Id, context.Date))"
                                           Disabled="@(@context.Date <= DateTime.Today)"
                                           Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Color="Color.Primary" />
                        </MudTooltip>
                    }
                </td>
            </tr>
            }
        </tbody>
    </MudSimpleTable>
}