@inject NavigationManager NavManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudText Typo="Typo.h6">Verificando permisos&hellip;</MudText>
                </Authorizing>
                <NotAuthorized>
                    @{
                        var user = context.User;

                        if (user.Identity is null)
                        {
                            NavManager.NavigateTo("Identity/Account/Login", true);
                        }
                        else if (user.Identity.IsAuthenticated)
                        {
                            <MudText Typo="Typo.h5">No tenés permiso para ver esta página.</MudText>
                        }
                        else
                        {
                            NavManager.NavigateTo("Identity/Account/Login", true);
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>